.item-detail {
    padding: 1rem;
    min-height: 10rem;
}

.item-detail:after {
    display: block;
    content: '';
    clear: left
}

.item-detail img {
    width: 150px;
    border-right: 10px;
    margin-right: 1rem;
    float: left;
}

.random-planet .list-group {
    margin: 1rem 0 0 1rem;
}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term {
    margin-right: .5rem;
}